
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w11_narcom">1</a>]
</td>
<td class="bibtexitem">
Нейрохимия опиатной наркомании.
[&nbsp;<a href="lib_bib.html#w11_narcom">bib</a>&nbsp;| 
<a href="http://www.narcom.ru/cabinet/online/39.html">.html</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w14_aisty">2</a>]
</td>
<td class="bibtexitem">
ЛЮБОВЬ, КАК РЕПРОДУКТИВНАЯ БИОХИМИЯ.
[&nbsp;<a href="lib_bib.html#w14_aisty">bib</a>&nbsp;| 
<a href="http://aisty.narod.ru/love.html">.html</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w12_neuroleptic">3</a>]
</td>
<td class="bibtexitem">
Дофаминовая теория шизофрении и
  самостимуляция.
[&nbsp;<a href="lib_bib.html#w12_neuroleptic">bib</a>&nbsp;| 
<a href="http://neuroleptic.ru/forum/topic/6041-%D1%81%D0%BD%D0%BE%D0%B2%D0%B0-%D0%BF%D1%80%D0%BE-%D0%B4%D0%BE%D1%84%D0%B0%D0%BC%D0%B8%D0%BD%D0%BE%D0%B2%D1%83%D1%8E-%D0%B3%D0%B8%D0%BF%D0%BE%D1%82%D0%B5%D0%B7%D1%83/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w7_vuslib">4</a>]
</td>
<td class="bibtexitem">
Неокортекс (новая кора больших полушарий).
[&nbsp;<a href="lib_bib.html#w7_vuslib">bib</a>&nbsp;| 
<a href="http://www.vuzlib.su/beta3/html/1/25242/25343/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w10_psychiatry">5</a>]
</td>
<td class="bibtexitem">
Словарь психиатрических терминов:
  Названия симтомов и признаков.
[&nbsp;<a href="lib_bib.html#w10_psychiatry">bib</a>&nbsp;| 
<a href="http://www.psychiatry.ru/stat/115">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w17_membrana">6</a>]
</td>
<td class="bibtexitem">
Любовь – опасное для жизни психическое
  расстройство.
[&nbsp;<a href="lib_bib.html#w17_membrana">bib</a>&nbsp;| 
<a href="http://www.membrana.ru/particle/408">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w13_beloveshkin1">7</a>]
</td>
<td class="bibtexitem">
Не жмите на педальку или величайший обман
  мозга.
[&nbsp;<a href="lib_bib.html#w13_beloveshkin1">bib</a>&nbsp;| 
<a href="http://www.beloveshkin.com/2014/12/dopamine-1.html">.html</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="book1_Shipov">8</a>]
</td>
<td class="bibtexitem">
Борис Шипов.
 <em>Великая ложь. Теория любви: мифы и
  реальность</em>.
[&nbsp;<a href="lib_bib.html#book1_Shipov">bib</a>&nbsp;| 
<a href="http://shipov.su/Book/Shipov.html#en25">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w18_stelazin">9</a>]
</td>
<td class="bibtexitem">
Цирк дрессированных демонов имени
  Корбиниана Бродмана - Любовь.
[&nbsp;<a href="lib_bib.html#w18_stelazin">bib</a>&nbsp;| 
<a href="http://stelazin.livejournal.com/96200.html">.html</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w9_psihomed">10</a>]
</td>
<td class="bibtexitem">
Аффект - признаки, причины, виды и состояние
  аффекта.
[&nbsp;<a href="lib_bib.html#w9_psihomed">bib</a>&nbsp;| 
<a href="http://psihomed.com/affekt/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w15_elementy">11</a>]
</td>
<td class="bibtexitem">
Александр Марков.
 В «системе вознаграждения» найдены
  нейроны, возбуждающиеся от хороших
  предчувствий.
[&nbsp;<a href="lib_bib.html#w15_elementy">bib</a>&nbsp;| 
<a href="http://elementy.ru/news/431754">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w3_lookFor">12</a>]
</td>
<td class="bibtexitem">
РЎРµРјС‘РЅ Р“СЂРёС€РёРЅ.
 What is love? baby don't hurt me.
[&nbsp;<a href="lib_bib.html#w3_lookFor">bib</a>&nbsp;| 
<a href="http://lookfor.org/journal/what-is-love-baby-don-t-hurt-me/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w16_oxytocin.org">13</a>]
</td>
<td class="bibtexitem">
Oxytocin, chemical addiction and the science of love.
[&nbsp;<a href="lib_bib.html#w16_oxytocin.org">bib</a>&nbsp;| 
<a href="http://www.oxytocin.org/oxytoc/love-science.html">.html</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w4_mglinets">14</a>]
</td>
<td class="bibtexitem">
Trace amines.
[&nbsp;<a href="lib_bib.html#w4_mglinets">bib</a>&nbsp;| 
<a href="http://www.mglinets.narod.ru/gen/tracAmin.htm">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="book3_Pilo">15</a>]
</td>
<td class="bibtexitem">
А.Бродски С.Пил.
 <em>Любовь и зависимость</em>.
 2005.
[&nbsp;<a href="lib_bib.html#book3_Pilo">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w5_elementy.ru">16</a>]
</td>
<td class="bibtexitem">
Александр Марков.
 Биохимические основы любви
  закладываются в младенчестве, 12 2005.
[&nbsp;<a href="lib_bib.html#w5_elementy.ru">bib</a>&nbsp;| 
<a href="http://elementy.ru/news/165015">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art13_HelenFisher">17</a>]
</td>
<td class="bibtexitem">
Фишер Х.
 В супружеских изменах есть
  грандиозные плюсы.
 <em>GEO</em>, 2008.
[&nbsp;<a href="lib_bib.html#art13_HelenFisher">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="book2_Vek">18</a>]
</td>
<td class="bibtexitem">
Владимир Век.
 <em>Влюбленность и любовь как объекты
  научного исследования</em>.
 Издательский дом «Типография купца
  Тарасова», Пермь, 2010.
[&nbsp;<a href="lib_bib.html#book2_Vek">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="W16_stelazin">19</a>]
</td>
<td class="bibtexitem">
Stelazin ( Бесчастнов Павел&nbsp;Сергеевич ).
 Цирк дрессированных демонов имени
  Корбиниана Бродмана - Любовь.
[&nbsp;<a href="lib_bib.html#W16_stelazin">bib</a>&nbsp;| 
<a href="http://stelazin.livejournal.com/96200.html">.html</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art10_Tsvetanova">20</a>]
</td>
<td class="bibtexitem">
Miroslav&nbsp;Donchev Ani&nbsp;Tsvetanova, Dimitar&nbsp;Gospodinov.
 Serum-concentrations of dehydroepyandrosterone-sulfate in men with
  androgenetic alopecia.
 <em>Journal of IMAB</em>, 10(1):38-41, 2004.
[&nbsp;<a href="lib_bib.html#art10_Tsvetanova">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art1_bbcSci">21</a>]
</td>
<td class="bibtexitem">
BBC.
[&nbsp;<a href="lib_bib.html#art1_bbcSci">bib</a>&nbsp;| 
<a href="http://www.bbc.co.uk/science/hottopics/love/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w7_wiley">22</a>]
</td>
<td class="bibtexitem">
Rodney&nbsp;F. Boyer.
 <em>Concepts in Biochemistry</em>, chapter Nitric Oxide and Viagra.
 Wiley, 2002.
[&nbsp;<a href="lib_bib.html#w7_wiley">bib</a>&nbsp;| 
<a href="http://www.wiley.com/college/boyer/0470003790/cutting_edge/viagra/viagra.htm">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="w6_boundless.com">23</a>]
</td>
<td class="bibtexitem">
Boundless&nbsp;Psychology (c).
 Biology of sexual behavior, 03 2015.
[&nbsp;<a href="lib_bib.html#w6_boundless.com">bib</a>&nbsp;| 
<a href="https://www.boundless.com/psychology/textbooks/boundless-psychology-textbook/gender-and-sexuality-15/introduction-to-gender-and-sexuality-75/biology-of-sexual-behavior-300-12835/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="mag2_Liebowitz">24</a>]
</td>
<td class="bibtexitem">
GLENN COLLINS.
 <em>nytimes</em>, 1983.
[&nbsp;<a href="lib_bib.html#mag2_Liebowitz">bib</a>&nbsp;| 
<a href="http://www.nytimes.com/1983/02/14/style/chemical-connections-pathways-of-love.html">.html</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art7_Carter">25</a>]
</td>
<td class="bibtexitem">
Carter C.S.
 Oxytocin and sexual behavior.
 <em>Neuroscience and Biobehavioral Reviews</em>, 16:131-144, 1992.
[&nbsp;<a href="lib_bib.html#art7_Carter">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art9_Marazziti">26</a>]
</td>
<td class="bibtexitem">
Domenico&nbsp;Canale Donatella&nbsp;Marazziti.
 Hormonal changes when falling in love.
 <em>Elsevier: Psychoneuroendocrinology</em>, 2003.
[&nbsp;<a href="lib_bib.html#art9_Marazziti">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art11_Yeon">27</a>]
</td>
<td class="bibtexitem">
Man Ho&nbsp;Choi et&nbsp;al.
 Hair steroid profiling reveals racial differences in male pattern
  baldness between korean and caucasian populations.
 <em>Journal of Investigative Dermatology</em>, 2013.
[&nbsp;<a href="lib_bib.html#art11_Yeon">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art2_HelenFisher">28</a>]
</td>
<td class="bibtexitem">
Aron A. & Brown L.&nbsp;L. Fisher, H.&nbsp;E.
 Romantic love: a mammalian brain system for mate choice.
 <em>Philosophical Transactions of the Royal Society B: Biological
  Sciences</em>, 2006.
[&nbsp;<a href="lib_bib.html#art2_HelenFisher">bib</a>&nbsp;| 
<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1764845/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art3_HelenFisher">29</a>]
</td>
<td class="bibtexitem">
Brown&nbsp;LL Fisher&nbsp;HE, Aron&nbsp;A.
 Romantic love: a mammalian brain system for mate choice.
 <em>Philos. Trans. R. Soc. Lond., B, Biol. Sci.</em>, 2006.
[&nbsp;<a href="lib_bib.html#art3_HelenFisher">bib</a>&nbsp;| 
<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1764845">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="img1_wiki">30</a>]
</td>
<td class="bibtexitem">
Mikael Häggström.
 Chemical basis of love.
 "Medical gallery of Mikael Häggström 2014". Wikiversity Journal of
  Medicine 1 (2), 2014.
[&nbsp;<a href="lib_bib.html#img1_wiki">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.15347/wjm/2014.008">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art5_Bancroft">31</a>]
</td>
<td class="bibtexitem">
Bancroft J.
 The endocrinology of sexual arousal.
 <em>The Journal of Endocrinology</em>, 2005.
[&nbsp;<a href="lib_bib.html#art5_Bancroft">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1677%2Fjoe.1.06233">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art12_Pitts">32</a>]
</td>
<td class="bibtexitem">
Ronald&nbsp;L. Pitts.
 Serum elevation of dehydroepiandrosterone sulfate associated with
  male pattern baldness in young men.
 <em>Serum elevation of dehydroepiandrosterone sulfate associated
  with male pattern baldness in young men</em>.
[&nbsp;<a href="lib_bib.html#art12_Pitts">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="mag1_Fransine">33</a>]
</td>
<td class="bibtexitem">
Francine Prose.
 Kisses and limbic resonance, a foolish feeling called love.
[&nbsp;<a href="lib_bib.html#mag1_Fransine">bib</a>&nbsp;| 
<a href="http://observer.com/2000/02/kisses-and-limbic-resonance-a-foolish-feeling-called-love/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art8_Schneiderman">34</a>]
</td>
<td class="bibtexitem">
Inna Schneiderman, Yaniv Kanat-Maymon, Orna Zagoory-Sharon, and Ruth Feldman.
 Mutual influences between partners’ hormones shape conflict dialog
  and relationship duration at the initiation of romantic love.
 <em>Social Neuroscience</em>, 9(4):337-351, 2014.
[&nbsp;<a href="lib_bib.html#art8_Schneiderman">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1080/17470919.2014.893925">DOI</a>&nbsp;| 
<a href="http://dx.doi.org/10.1080/17470919.2014.893925">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art4_Slater">35</a>]
</td>
<td class="bibtexitem">
Lauren Slater.
 Love.
[&nbsp;<a href="lib_bib.html#art4_Slater">bib</a>&nbsp;| 
<a href="http://ngm.nationalgeographic.com/ngm/0602/feature2/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="art6_Zitzmann">36</a>]
</td>
<td class="bibtexitem">
Nieschlag&nbsp;E. Zitzmann&nbsp;M.
 Testosterone levels in healthy men and the relation to behavioural
  and physical characteristics: facts and constructs.
 <em>European Journal of Endocrinology</em>, (144):183-197, 2001.
[&nbsp;<a href="lib_bib.html#art6_Zitzmann">bib</a>&nbsp;]

</td>
</tr>
</table>