<h1>lib.bib</h1><a name="W16_stelazin"></a><pre>
@misc{<a href="lib.html#W16_stelazin">W16_stelazin</a>,
  title = {Цирк дрессированных демонов имени Корбиниана Бродмана - Любовь},
  author = {Stelazin ( Бесчастнов Павел Сергеевич )},
  url = {<a href="http://stelazin.livejournal.com/96200.html">http://stelazin.livejournal.com/96200.html</a>}
}
</pre>

<a name="art10_Tsvetanova"></a><pre>
@article{<a href="lib.html#art10_Tsvetanova">art10_Tsvetanova</a>,
  author = {Ani Tsvetanova, Dimitar Gospodinov, Miroslav Donchev},
  title = {Serum-concentrations of dehydroepyandrosterone-sulfate in men with androgenetic alopecia},
  journal = {Journal of IMAB},
  year = {2004},
  volume = {10},
  number = {1},
  pages = {38-41}
}
</pre>

<a name="art11_Yeon"></a><pre>
@article{<a href="lib.html#art11_Yeon">art11_Yeon</a>,
  title = {Hair Steroid Profiling Reveals Racial Differences in Male Pattern Baldness between Korean and Caucasian Populations},
  author = {Man Ho Choi et al.},
  journal = {Journal of Investigative Dermatology},
  year = {2013}
}
</pre>

<a name="art12_Pitts"></a><pre>
@article{<a href="lib.html#art12_Pitts">art12_Pitts</a>,
  author = {Pitts, Ronald L.},
  journal = {Serum elevation of dehydroepiandrosterone sulfate associated with male pattern baldness in young men},
  title = {Serum elevation of dehydroepiandrosterone sulfate associated with male pattern baldness in young men}
}
</pre>

<a name="art13_HelenFisher"></a><pre>
@article{<a href="lib.html#art13_HelenFisher">art13_HelenFisher</a>,
  title = {В супружеских изменах есть грандиозные плюсы},
  author = {Фишер Х.},
  journal = {GEO},
  year = {2008}
}
</pre>

<a name="art1_bbcSci"></a><pre>
@article{<a href="lib.html#art1_bbcSci">art1_bbcSci</a>,
  author = {BBC},
  url = {<a href="http://www.bbc.co.uk/science/hottopics/love/">http://www.bbc.co.uk/science/hottopics/love/</a>}
}
</pre>

<a name="art2_HelenFisher"></a><pre>
@article{<a href="lib.html#art2_HelenFisher">art2_HelenFisher</a>,
  author = {Fisher, H. E., Aron, A., & Brown, L. L.},
  title = {Romantic love: a mammalian brain system for mate choice},
  journal = {Philosophical Transactions of the Royal Society B: Biological Sciences},
  year = {2006},
  url = {<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1764845/">http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1764845/</a>}
}
</pre>

<a name="art3_HelenFisher"></a><pre>
@article{<a href="lib.html#art3_HelenFisher">art3_HelenFisher</a>,
  title = {Romantic love: a mammalian brain system for mate choice},
  author = {Fisher HE, Aron A, Brown LL},
  journal = {Philos. Trans. R. Soc. Lond., B, Biol. Sci.},
  year = {2006},
  url = {<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1764845">http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1764845</a>}
}
</pre>

<a name="art4_Slater"></a><pre>
@article{<a href="lib.html#art4_Slater">art4_Slater</a>,
  author = {Slater, Lauren},
  title = {Love},
  url = {<a href="http://ngm.nationalgeographic.com/ngm/0602/feature2/">http://ngm.nationalgeographic.com/ngm/0602/feature2/</a>}
}
</pre>

<a name="art5_Bancroft"></a><pre>
@article{<a href="lib.html#art5_Bancroft">art5_Bancroft</a>,
  author = {Bancroft J },
  title = {The endocrinology of sexual arousal},
  journal = {The Journal of Endocrinology},
  year = {2005},
  url = {<a href="http://dx.doi.org/10.1677%2Fjoe.1.06233">http://dx.doi.org/10.1677%2Fjoe.1.06233</a>}
}
</pre>

<a name="art6_Zitzmann"></a><pre>
@article{<a href="lib.html#art6_Zitzmann">art6_Zitzmann</a>,
  author = {Zitzmann M., Nieschlag E.},
  title = {Testosterone levels in healthy men and the relation to behavioural and physical characteristics: facts and constructs},
  journal = {European Journal of Endocrinology},
  year = {2001},
  number = {144},
  pages = {183-197}
}
</pre>

<a name="art7_Carter"></a><pre>
@article{<a href="lib.html#art7_Carter">art7_Carter</a>,
  author = {Carter C.S.  },
  title = {Oxytocin and Sexual Behavior},
  journal = {Neuroscience and Biobehavioral Reviews},
  year = {1992},
  volume = {16},
  pages = {131-144}
}
</pre>

<a name="art8_Schneiderman"></a><pre>
@article{<a href="lib.html#art8_Schneiderman">art8_Schneiderman</a>,
  author = {Schneiderman, Inna and Kanat-Maymon, Yaniv and Zagoory-Sharon, Orna and Feldman, Ruth},
  title = {Mutual influences between partners’ hormones shape conflict dialog and relationship duration at the initiation of romantic love},
  journal = {Social Neuroscience},
  year = {2014},
  volume = {9},
  number = {4},
  pages = {337-351},
  url = {<a href="http://dx.doi.org/10.1080/17470919.2014.893925">http://dx.doi.org/10.1080/17470919.2014.893925</a>},
  doi = {10.1080/17470919.2014.893925}
}
</pre>

<a name="art9_Marazziti"></a><pre>
@article{<a href="lib.html#art9_Marazziti">art9_Marazziti</a>,
  author = {Donatella Marazziti, Domenico Canale},
  title = {Hormonal changes when falling in love},
  journal = {Elsevier: Psychoneuroendocrinology},
  year = {2003}
}
</pre>

<a name="book1_Shipov"></a><pre>
@book{<a href="lib.html#book1_Shipov">book1_Shipov</a>,
  author = {Борис Шипов},
  title = {Великая ложь. Теория любви: мифы и реальность},
  url = {<a href="http://shipov.su/Book/Shipov.html#en25">http://shipov.su/Book/Shipov.html#en25</a>}
}
</pre>

<a name="book2_Vek"></a><pre>
@book{<a href="lib.html#book2_Vek">book2_Vek</a>,
  author = {Владимир Век},
  title = {Влюбленность и любовь как объекты научного исследования},
  publisher = {Издательский дом «Типография купца Тарасова»},
  year = {2010},
  address = {Пермь}
}
</pre>

<a name="book3_Pilo"></a><pre>
@book{<a href="lib.html#book3_Pilo">book3_Pilo</a>,
  author = {С.Пил, А.Бродски},
  title = {Любовь и зависимость},
  year = {2005}
}
</pre>

<a name="img1_wiki"></a><pre>
@misc{<a href="lib.html#img1_wiki">img1_wiki</a>,
  title = {Chemical basis of love},
  author = {Häggström, Mikael},
  year = {2014},
  doi = {10.15347/wjm/2014.008},
  file = {mf/imgs/scheme/Chemical_basis_of_love.svg]]; d:/uarch/.data/.ws/.univ/.prac/VII-referat/mf/imgs/scheme/Chemical_basis_of_love.svg},
  howpublished = {"Medical gallery of Mikael Häggström 2014". Wikiversity Journal of Medicine 1 (2)}
}
</pre>

<a name="mag1_Fransine"></a><pre>
@misc{<a href="lib.html#mag1_Fransine">mag1_Fransine</a>,
  title = {Kisses and Limbic Resonance, a Foolish Feeling Called Love},
  author = {Francine Prose},
  url = {<a href="http://observer.com/2000/02/kisses-and-limbic-resonance-a-foolish-feeling-called-love/">http://observer.com/2000/02/kisses-and-limbic-resonance-a-foolish-feeling-called-love/</a>}
}
</pre>

<a name="mag2_Liebowitz"></a><pre>
@article{<a href="lib.html#mag2_Liebowitz">mag2_Liebowitz</a>,
  author = {GLENN COLLINS},
  journal = {nytimes},
  year = {1983},
  url = {<a href="http://www.nytimes.com/1983/02/14/style/chemical-connections-pathways-of-love.html">http://www.nytimes.com/1983/02/14/style/chemical-connections-pathways-of-love.html</a>}
}
</pre>

<a name="w10_psychiatry"></a><pre>
@misc{<a href="lib.html#w10_psychiatry">w10_psychiatry</a>,
  title = {Словарь психиатрических терминов: Названия симтомов и признаков},
  url = {<a href="http://www.psychiatry.ru/stat/115">http://www.psychiatry.ru/stat/115</a>}
}
</pre>

<a name="w11_narcom"></a><pre>
@misc{<a href="lib.html#w11_narcom">w11_narcom</a>,
  title = {Нейрохимия опиатной наркомании},
  url = {<a href="http://www.narcom.ru/cabinet/online/39.html">http://www.narcom.ru/cabinet/online/39.html</a>}
}
</pre>

<a name="w12_neuroleptic"></a><pre>
@misc{<a href="lib.html#w12_neuroleptic">w12_neuroleptic</a>,
  title = {Дофаминовая теория шизофрении и самостимуляция},
  url = {<a href="http://neuroleptic.ru/forum/topic/6041-%D1%81%D0%BD%D0%BE%D0%B2%D0%B0-%D0%BF%D1%80%D0%BE-%D0%B4%D0%BE%D1%84%D0%B0%D0%BC%D0%B8%D0%BD%D0%BE%D0%B2%D1%83%D1%8E-%D0%B3%D0%B8%D0%BF%D0%BE%D1%82%D0%B5%D0%B7%D1%83/">http://neuroleptic.ru/forum/topic/6041-%D1%81%D0%BD%D0%BE%D0%B2%D0%B0-%D0%BF%D1%80%D0%BE-%D0%B4%D0%BE%D1%84%D0%B0%D0%BC%D0%B8%D0%BD%D0%BE%D0%B2%D1%83%D1%8E-%D0%B3%D0%B8%D0%BF%D0%BE%D1%82%D0%B5%D0%B7%D1%83/</a>}
}
</pre>

<a name="w13_beloveshkin1"></a><pre>
@misc{<a href="lib.html#w13_beloveshkin1">w13_beloveshkin1</a>,
  title = {Не жмите на педальку или величайший обман мозга},
  url = {<a href="http://www.beloveshkin.com/2014/12/dopamine-1.html">http://www.beloveshkin.com/2014/12/dopamine-1.html</a>}
}
</pre>

<a name="w14_aisty"></a><pre>
@misc{<a href="lib.html#w14_aisty">w14_aisty</a>,
  title = {ЛЮБОВЬ, КАК РЕПРОДУКТИВНАЯ БИОХИМИЯ },
  url = {<a href="http://aisty.narod.ru/love.html">http://aisty.narod.ru/love.html</a>}
}
</pre>

<a name="w15_elementy"></a><pre>
@article{<a href="lib.html#w15_elementy">w15_elementy</a>,
  title = {В «системе вознаграждения» найдены нейроны, возбуждающиеся от хороших предчувствий},
  author = {Александр Марков},
  url = {<a href="http://elementy.ru/news/431754">http://elementy.ru/news/431754</a>}
}
</pre>

<a name="w16_oxytocin.org"></a><pre>
@misc{<a href="lib.html#w16_oxytocin.org">w16_oxytocin.org</a>,
  title = {Oxytocin, chemical addiction and the science of love},
  url = {<a href="http://www.oxytocin.org/oxytoc/love-science.html">http://www.oxytocin.org/oxytoc/love-science.html</a>}
}
</pre>

<a name="w17_membrana"></a><pre>
@misc{<a href="lib.html#w17_membrana">w17_membrana</a>,
  title = {Любовь – опасное для жизни психическое расстройство},
  url = {<a href="http://www.membrana.ru/particle/408">http://www.membrana.ru/particle/408</a>}
}
</pre>

<a name="w18_stelazin"></a><pre>
@misc{<a href="lib.html#w18_stelazin">w18_stelazin</a>,
  title = {Цирк дрессированных демонов имени Корбиниана Бродмана - Любовь},
  url = {<a href="http://stelazin.livejournal.com/96200.html">http://stelazin.livejournal.com/96200.html</a>}
}
</pre>

<a name="w3_lookFor"></a><pre>
@misc{<a href="lib.html#w3_lookFor">w3_lookFor</a>,
  title = {What is love? Baby don't hurt me},
  author = {РЎРµРјС‘РЅ Р“СЂРёС€РёРЅ},
  url = {<a href="http://lookfor.org/journal/what-is-love-baby-don-t-hurt-me/">http://lookfor.org/journal/what-is-love-baby-don-t-hurt-me/</a>}
}
</pre>

<a name="w4_mglinets"></a><pre>
@misc{<a href="lib.html#w4_mglinets">w4_mglinets</a>,
  title = {TRACE AMINES},
  url = {<a href="http://www.mglinets.narod.ru/gen/tracAmin.htm">http://www.mglinets.narod.ru/gen/tracAmin.htm</a>}
}
</pre>

<a name="w5_elementy.ru"></a><pre>
@misc{<a href="lib.html#w5_elementy.ru">w5_elementy.ru</a>,
  url = {<a href="http://elementy.ru/news/165015">http://elementy.ru/news/165015</a>},
  title = {Биохимические основы любви закладываются в младенчестве},
  author = {Александр Марков},
  year = {2005},
  month = {12}
}
</pre>

<a name="w6_boundless.com"></a><pre>
@misc{<a href="lib.html#w6_boundless.com">w6_boundless.com</a>,
  title = {Biology of Sexual Behavior},
  year = {2015},
  month = {03},
  author = {Boundless Psychology (c)},
  url = {https://www.boundless.com/psychology/textbooks/boundless-psychology-textbook/gender-and-sexuality-15/introduction-to-gender-and-sexuality-75/biology-of-sexual-behavior-300-12835/}
}
</pre>

<a name="w7_vuslib"></a><pre>
@misc{<a href="lib.html#w7_vuslib">w7_vuslib</a>,
  title = {Неокортекс (новая кора больших полушарий)},
  url = {<a href="http://www.vuzlib.su/beta3/html/1/25242/25343/">http://www.vuzlib.su/beta3/html/1/25242/25343/</a>}
}
</pre>

<a name="w7_wiley"></a><pre>
@inbook{<a href="lib.html#w7_wiley">w7_wiley</a>,
  author = {Rodney F. Boyer},
  title = {Concepts in Biochemistry},
  chapter = {Nitric Oxide and Viagra},
  publisher = {Wiley},
  year = {2002},
  url = {<a href="http://www.wiley.com/college/boyer/0470003790/cutting_edge/viagra/viagra.htm">http://www.wiley.com/college/boyer/0470003790/cutting_edge/viagra/viagra.htm</a>}
}
</pre>

<a name="w9_psihomed"></a><pre>
@misc{<a href="lib.html#w9_psihomed">w9_psihomed</a>,
  title = {Аффект - признаки, причины, виды и состояние аффекта},
  url = {<a href="http://psihomed.com/affekt/">http://psihomed.com/affekt/</a>}
}
</pre>

